# Index of the account to be used as the Voucher Manager
# IEXEC_VOUCHER_MANAGER_ACCOUNT_INDEX=...

# Index of the account to be used as the Voucher Minter
# IEXEC_VOUCHER_MINTER_ACCOUNT_INDEX=...

# Flag to indicate whether to use a local blockchain fork (set to 'true' for local fork development)
# IS_LOCAL_FORK=...

# The mnemonic phrase used to derive the wallet's private keys
# MNEMONIC=...

# The private key for accessing the production account
# PROD_PRIVATE_KEY=...

# Override the default iExec PoCo (Proof-of-Contribution) contract address
# IEXEC_POCO_ADDRESS=...

# Indicates whether the deployment involves a factory contract
# FACTORY=...
