node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

/deployments/hardhat
/deployments/external-hardhat
/deployments/localhost

/contracts/hardhat-dependency-compiler
build/flatten.sol
